@mixin flex($justify-content:flex-start, $align-items:flex-start, $flex-direction:row, $flex-wrap:wrap){
	@include display-flex;
	@include flex-direction($flex-direction);
	@include justify-content($justify-content);
	@include align-items($align-items);
	@include flex-wrap($flex-wrap);
}
@mixin flexCenter(){
	@include display-flex;
	@include justify-content(center);
	@include align-items(center);
	@include flex-wrap(wrap);
}
@mixin grid(
	$xxl:null, 
	$xl:null, 
	$l:null, 
	$m:null, 
	$s:null,

	$xxl-offset:null, 
	$xl-offset:null, 
	$l-offset:null, 
	$m-offset:null, 
	$s-offset:null,
	$margin-top:null,
	$padding-top:null,
	$margin-bottom:null,
	$padding-bottom:null
	){
	@if $xxl != null{
		@extend %xxl-#{ $xxl };
		@if $xxl-offset != null{
			@extend %xxl-offset-#{ $xxl-offset };
		}
	}
	@if $xl != null{
		@extend %xl-#{ $xl };
		@if $xl-offset != null{
			@extend %xl-offset-#{ $xl-offset };
		}
	}
	@if $l != null{
		@extend %l-#{ $l };
		@if $l-offset != null{
			@extend %l-offset-#{ $l-offset };
		}
	}
	@if $m != null{
		@extend %m-#{ $m };
		@if $m-offset != null{
			@extend %m-offset-#{ $m-offset };
		}
	}
	@if $s != null{
		@extend %s-#{ $s };
		@if $s-offset != null{
			@extend %s-offset-#{ $s-offset };
		}
	}
	@if $margin-top != null{
		margin-top: $margin-top;
	}
	@if $padding-top != null{
		padding-top: $padding-top;
	}
	@if $margin-bottom != null{
		margin-bottom: $margin-bottom;
	}
	@if $padding-bottom != null{
		padding-bottom: $padding-bottom;
	}
}
@mixin mediaQuery($xxl, $xl, $l, $m, $s){
	@if $xxl == 1{
		$max : nth($breakpoints,1);
		$min : nth($breakpoints,2);
		@media only screen and (max-width: #{nth($max,2)}) and (min-width: #{nth($min,2)}) { 
		  	@content ; 
		}
	}
	@if $xl == 1{
		$max : nth($breakpoints,2);
		$min : nth($breakpoints,3);
		@media only screen and (max-width: #{nth($max,2)}) and (min-width: #{nth($min,2)}) { 
		  	@content ; 
		}		
	}
	@if $l == 1{
		$max : nth($breakpoints,3);
		$min : nth($breakpoints,4);
		@media only screen and (max-width: #{nth($max,2)}) and (min-width: #{nth($min,2)}) { 
		  	@content ; 
		}	
	}
	@if $m == 1{
		$max : nth($breakpoints,4);
		$min : nth($breakpoints,5);
		@media only screen and (max-width: #{nth($max,2)}) and (min-width: #{nth($min,2)}) { 
		  	@content ; 
		}	
	}
	@if $s == 1{
		$max : nth($breakpoints,5);
		@media only screen and (max-width: #{nth($max,2)}) { 
		  	@content ; 
		}
	}
}
