@import "compass/reset";
@import "compass";
@import "variables";
@import "global"; 
@import "mixins";

@import url('https://fonts.googleapis.com/css?family=Merriweather:300,300i,400,400i,700,700i,900,900i|Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');
 
/*********************
1. HOMEPAGE - index.html
*********************/
.meta{
	text-decoration: underline;
}
header {
	padding:0 5%;
	@include flex(center,center,row, wrap);
	& > div, 
	& > h1{
		@include grid(2,2,2,1,1);
	}
}
main{
	@include flex(flex-start,flex-start,row, wrap);
	@include mediaQuery(0,0,0,1,1){
		@include flex(flex-start,flex-start,column, wrap);
	}
	.section-1, .section-2{
		@include grid(2,2,2,1,1);
	}
	.heading-style{
		padding: 0 5%;
		.font-list{
			@include grid(1,1,1,1,1);
			@include display-flex();
			@include flex-wrap(wrap);
		}
		.heading-list{
			text-align: center;
				@include grid(2,1,1,1,1);
		}
		.heading-list.font-2{
			h1,h2,h3,h4,h5,h6{
				font-family: $font-2;
			}
		}
	}
	.list-style{
		padding: 0 5%;
		ul{
			list-style: disc;
		}
		ol{
			list-style: decimal;
		}
	}
	.swatches{
		padding:0 5%;
		.color-wrapper{
			@include flex(space-between, center, row, wrap);

			& div div{
				height:50px;
				font-family:$font-1;
				@include flex(center, center, row, wrap);
			}
			& div.color-a{
				@include grid(4,4,2,2,1);
				text-align: center;
				& div:nth-child(1){ background-color: $color-a-900; }
				& div:nth-child(2){ background-color: $color-a-800; }
				& div:nth-child(3){ background-color: $color-a-700; }
				& div:nth-child(4){ background-color: $color-a-600; }
				& div:nth-child(5){ background-color: $color-a-500; }
				& div:nth-child(6){ background-color: $color-a-400; }
				& div:nth-child(7){ background-color: $color-a-300; }
				& div:nth-child(8){ background-color: $color-a-200; }
				& div:nth-child(9){ background-color: $color-a-100; }
			}
			& div.color-b{
				@include grid(4,4,2,2,1);
				text-align: center;
				& div:nth-child(1){ background-color: $color-b-900; }
				& div:nth-child(2){ background-color: $color-b-800; }
				& div:nth-child(3){ background-color: $color-b-700; }
				& div:nth-child(4){ background-color: $color-b-600; }
				& div:nth-child(5){ background-color: $color-b-500; }
				& div:nth-child(6){ background-color: $color-b-400; }
				& div:nth-child(7){ background-color: $color-b-300; }
				& div:nth-child(8){ background-color: $color-b-200; }
				& div:nth-child(9){ background-color: $color-b-100; }
			}
			& div.color-c{
				@include grid(4,4,2,2,1);
				text-align: center;
				& div:nth-child(1){ background-color: $color-c-900; }
				& div:nth-child(2){ background-color: $color-c-800; }
				& div:nth-child(3){ background-color: $color-c-700; }
				& div:nth-child(4){ background-color: $color-c-600; }
				& div:nth-child(5){ background-color: $color-c-500; }
				& div:nth-child(6){ background-color: $color-c-400; }
				& div:nth-child(7){ background-color: $color-c-300; }
				& div:nth-child(8){ background-color: $color-c-200; }
				& div:nth-child(9){ background-color: $color-c-100; }
			}
			& div.color-z{
				@include grid(4,4,2,2,1);
				text-align: center;
				& div:nth-child(1){ background-color: $color-z-900; }
				& div:nth-child(2){ background-color: $color-z-800; }
				& div:nth-child(3){ background-color: $color-z-700; }
				& div:nth-child(4){ background-color: $color-z-600; }
				& div:nth-child(5){ background-color: $color-z-500; }
				& div:nth-child(6){ background-color: $color-z-400; }
				& div:nth-child(7){ background-color: $color-z-300; }
				& div:nth-child(8){ background-color: $color-z-200; }
				& div:nth-child(9){ background-color: $color-z-100; }
			}
		}
		@include mediaQuery(0,0,0,1,1){
			@include flex-direction(column);
		}
	}
}


